.timcardsContainer{
    position: relative;
    display: flex;
    left:16vw;
    .timeBoxNegative{
        position: relative;
        //width:8vw;
        height: 100%;
        //border-style: solid;
        //border-radius: 10px;
        //border-width: 1px;
        //margin-left: 10px;
        //box-shadow: 7px 5px 5px #888888;
        font-size: 600%;
        text-align: center;
        //background-color: rgb(220, 252, 217);
        color: black;
       
    }
    .timeBox{
        position: relative;
        width:8vw;
        height: 100%;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        margin-left: 10px;
        box-shadow: 7px 5px 5px #888888;
        font-size: 600%;
        text-align: center;
        background-color: rgb(220, 252, 217);
        color: black;
       
    }
    input[class*='-negative']{
        position: relative;
        width:8vw;
        height: 100%;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        margin-left: 10px;
        box-shadow: 7px 5px 5px #888888;
        font-size: 600%;
        text-align: center;
        background-color: rgb(233, 137, 92);
        color: black;
    }
    .timerText{
        position: relative;
        font-size: 300%;
        margin-left: 1%;
        top:50%;
        
    }
    .saveTimeBtn{
        position:relative;
        width:14vw;
        height: 40%;
        top: 8vh;
        margin-left: 2vw;
        font-weight: bold;
    }

}